/code*.log
/code.DS_Store
/code.env
/code.env.backup
/code.env.production
/code.phpactor.json
/code.phpunit.result.cache
/code/.fleet
/code/.idea
/code/.nova
/code/.phpunit.cache
/code/.vscode
/code/.zed
/code/auth.json
/code/node_modules
/code/public/build
/code/public/hot
/code/public/storage
/code/storage/*.key
/code/storage/pail
/code/vendor
/codeHomestead.json
/codeHomestead.yaml
/codeThumbs.db
